/*
FileName: socialShare.css
Author: Caitlin Huang
Description:  The css file for the social media share buttons.
*/

.socialShareButton {
    cursor: pointer;
    font-size: 36px;
    margin: 0px 10px;
  }